// --- layout: ---

$beat-bar-item-vertical-extra-spacing: 0.2rem;

#beat-bar {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;

  .beat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &:not(:first-child) {
      margin-left: 0.5rem;
    }

    .beat-item {
      height: 2rem;

      &:nth-child(2) {
        margin-top: $beat-bar-item-vertical-extra-spacing;
        margin-bottom: $beat-bar-item-vertical-extra-spacing;
      }
    }
  }
}


// --- animation: ---

@keyframes beat-fade-out-active {
  from {
    border-color: $beat-active-color;
    box-shadow: $light-box-shadow;
  }
  to {
    border-color: $beat-inactive-color;
    box-shadow: $dark-box-shadow;
  }
}

@keyframes beat-fade-out-active-filled {
  from {
    border-color: $beat-active-color;
    box-shadow: $light-box-shadow;
    background-color: $beat-active-color;
  }
  to {
    border-color: $beat-inactive-color;
    box-shadow: $dark-box-shadow;
    background-color: $beat-inactive-color;
  }
}

@mixin beat-fade-out-active {
  animation-name: beat-fade-out-active;
  animation-delay: $beat-fade-out-delay;
  animation-duration: $beat-fade-out-duration;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@mixin beat-fade-out-active-filled {
  animation-name: beat-fade-out-active-filled;
  animation-delay: $beat-fade-out-delay;
  animation-duration: $beat-fade-out-duration;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#beat-bar {
  .beat {
    .beat-item {
      border-width: 1px;
      border-style: solid;
      border-color: $beat-inactive-color;
      box-shadow: $dark-box-shadow;
      margin: $box-shadow-size;

      &:first-child {
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
      }

      &:last-child {
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
      }
    }

    .beat-lower {
      background-color: $beat-inactive-color;
    }

    &.accent {
      .beat-middle {
        background-color: $beat-inactive-color;
      }
    }

    &.active {
      .beat-item {
        border-color: $beat-active-color;
        box-shadow: $light-box-shadow;
        @include beat-fade-out-active;
      }

      .beat-lower {
        background-color: $beat-active-color;
        @include beat-fade-out-active-filled;
      }

      &.accent {
        .beat-middle, .beat-lower {
          background-color: $beat-active-color;
          @include beat-fade-out-active-filled;
        }
      }
    }
  }
}
