.metronome-screen {
  @extend .container;
  display: flex;
  flex-direction: column;
  position: fixed;
  // center (special stuff required because of position: fixed)
  left: 50%;
  transform: translateX(-50%);
}

@import "beat-bar";
@import "play-controls";
@import "song-controls";
