.select-song-screen {
  .songs {
    border: 1px solid black;
    border-radius: 0.5rem;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 0.2rem;

        &:not(:first-child) {
          border-top: 1px solid black;
        }

        .title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          flex-grow: 1;
        }

        .actions {
          //margin-left: 0.5rem;
          //font-size: 75%;
          white-space: nowrap;
        }
      }
    }
  }
}