.song-settings {
  flex: 2;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.setlist {
  flex: 2;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 0.5rem;

  margin: 1rem 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      cursor: pointer;

      padding: 0.2rem;

      &:not(:first-child) {
        border-top: 1px solid black;
      }

      &.active {
        color: $active-color;
        font-weight: $active-font-weight;
      }

      .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .settings {
        margin-left: 0.5rem;
        font-size: 75%;
        white-space: nowrap;
      }

      &.header {
        position: sticky;
        top: 0;
        background-color: black;
      }
    }
  }
}
