.splash-screen {
  padding-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  .logo {
    margin: 3rem auto;
    height: 33%;
    svg {
      height: 100%;
      fill: darken($body-bg, 5%);
    }
  }
}
