@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

svg {
  fill: currentColor;
}

.btn:not(.btn-link) {
  min-width: 4rem;
  min-height: 4rem;
  line-height: 3rem;
  box-shadow: $dark-box-shadow;
  margin: $box-shadow-size;
}

@import "metronome-screen";
@import "song-editor-screen";
@import "setlists-editor-screen";
@import "setlist-editor-screen";
@import "select-song-screen";
