$active-color: lighten($body-color, 20%);
$active-font-weight: 600;

$speed-knob-size-xs: 10rem;
$speed-knob-size-sm: 15rem;
$speed-knob-size-md: 20rem;

#metronome {
  @extend .container;
}

#song-settings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#beat-bar {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;

  .beat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .beat-item {
      margin: 0.3rem 0.6rem;
      height: 2rem;
    }
  }
}

.setlist {
  margin: 1rem 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    border: 1px solid black;
    border-radius: 0.5rem;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0.2rem;
      &:not(:first-child) {
        border-top: 1px solid black;
      }

      &.active {
        color: $active-color;
        font-weight: $active-font-weight;
      }

      .song-settings {
        font-size: 75%;
      }
    }
  }
}

#play-controls {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.speed {
  align-items: center;
  flex: 2;
  margin: 0 1rem;

  min-width: $speed-knob-size-xs;
  min-height: $speed-knob-size-xs;

  @include media-breakpoint-up(sm) {
    min-width: $speed-knob-size-sm;
    min-height: $speed-knob-size-sm;
  }
  @include media-breakpoint-up(md) {
    min-width: $speed-knob-size-md;
    min-height: $speed-knob-size-md;
  }

  #current-bpm-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  #current-bpm {
    color: $active-color;
    font-weight: $active-font-weight;
  }

  .speed-knob {
    width: $speed-knob-size-xs;
    height: $speed-knob-size-xs;

    @include media-breakpoint-up(sm) {
      width: $speed-knob-size-sm;
      height: $speed-knob-size-sm;
    }
    @include media-breakpoint-up(md) {
      width: $speed-knob-size-md;
      height: $speed-knob-size-md;
    }
  }
}
