// --- override bootstrap variables ---

$body-bg: #333333;
$body-color: #aaaaaa;
$primary: #434343;
$dark: $primary;
$yiq-text-light: #aaaaaa;
$input-btn-font-size: 1.1rem;

$modal-content-color: $body-color;
$modal-content-bg: $body-bg;
$modal-header-border-color: $body-color;
$close-color: darken($modal-content-color, 10%);
$close-text-shadow: none;

$link-color: $body-color;
$link-hover-color: $link-color;

$input-color: lighten($body-color, 20%);
$input-bg: lighten($body-bg, 20%);
$input-border-color: darken($body-bg, 20%);
$input-focus-border-color: lighten($input-bg, 20%);;

// --- custom variables ---

$beat-active-color: white;
$beat-inactive-color: black;

$dark-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
$light-box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);

$beat-fade-out-delay: 0.1s;
$beat-fade-out-duration: 0.2s;

@import "~bootstrap/scss/bootstrap";

body {
  // No scrolling:
  overflow: hidden;
  position: fixed;
  width: 100%;
}

svg {
  fill: currentColor;
}

.btn:not(.btn-link) {
  min-width: 4rem;
  min-height: 4rem;
  box-shadow: $dark-box-shadow;
}

@keyframes beat-fade-out-active {
  from {
    border-color: $beat-active-color;
    box-shadow: $light-box-shadow;
  }
  to {
    border-color: $beat-inactive-color;
    box-shadow: $dark-box-shadow;
  }
}

@keyframes beat-fade-out-active-filled {
  from {
    border-color: $beat-active-color;
    box-shadow: $light-box-shadow;
    background-color: $beat-active-color;
  }
  to {
    border-color: $beat-inactive-color;
    box-shadow: $dark-box-shadow;
    background-color: $beat-inactive-color;
  }
}

@mixin beat-fade-out-active {
  animation-name: beat-fade-out-active;
  animation-delay: $beat-fade-out-delay;
  animation-duration: $beat-fade-out-duration;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@mixin beat-fade-out-active-filled {
  animation-name: beat-fade-out-active-filled;
  animation-delay: $beat-fade-out-delay;
  animation-duration: $beat-fade-out-duration;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#beat-bar {
  .beat {
    .beat-item {
      border-width: 1px;
      border-style: solid;
      border-color: $beat-inactive-color;
      box-shadow: $dark-box-shadow;

      &:first-child {
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
      }

      &:last-child {
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
      }
    }

    .beat-lower {
      background-color: $beat-inactive-color;
    }

    &.accent {
      .beat-middle {
        background-color: $beat-inactive-color;
      }
    }

    &.active {
      .beat-item {
        border-color: $beat-active-color;
        box-shadow: $light-box-shadow;
        @include beat-fade-out-active;
      }

      .beat-lower {
        background-color: $beat-active-color;
        @include beat-fade-out-active-filled;
      }

      &.accent {
        .beat-middle, .beat-lower {
          background-color: $beat-active-color;
          @include beat-fade-out-active-filled;
        }
      }
    }
  }
}


// ---- layout ----

@import "layout-portrait";
